#![enable(implicit_some)]

Prefab (entities: [
(data: (event: (triggers: [Timed(1.0)], actions: [
    Dialogue((text: "Hello, I'm Santa!")),
    Dialogue((text: "Help me distribute all the presents!")),
    Dialogue((text: "And do not unwrap them yourself!")),
]))),
(data: (event: (triggers: [Timed(5.0)], actions: [
    Dialogue((text: "But first, you have to walk to the right.")),
    Dialogue((text: "To do that, press <D> on your keyboard.")),
    Dialogue((text: "Do it now!")),
]))),
(data: (event: (triggers: [Area(Area(x1: 180.0, x2: 200.0, y1: 0.0, y2: 100.0))], actions: [
    Dialogue((text: "You found the door! Press <F>!")),
]))),
(data: (event: (triggers: [Area(Area(x1: 180.0, x2: 200.0, y1: 0.0, y2: 100.0)), ActionKey], actions: [
    Dialogue((text: "You are entering the house!")),
]))),
])