#![enable(implicit_some)]
Label(
    transform: (
        id: "dialogue",
        x: 0.0,
        y: 0.0,
        width: 500.0,
        height: 250.0,
        tab_order: 2,
        anchor: Middle,
        transparent: true,
    ),
    text: (
        text: "",
        font: File("font/square.ttf", ("TTF", ())),
        font_size: 25.,
        color: (1.0, 1.0, 1.0, 1.0),
        line_mode: Wrap,
    )
)