(
    spritesheet_width: 75.0,
    spritesheet_height: 51.0,
    sprites: [
        (
            x: 0.0,
            y: 0.0,
            width: 36.0,
            height: 51.0,
        ),
        (
            x: 36.0,
            y: 0.0,
            width: 39.0,
            height: 51.0,
        ),
    ],
)
